<div class="row">
  <div class="col-xs-12">
    <input type="text" [(ngModel)]="learningStatus">
    <button (click)="onlearningStatus()" class="btn btn-success">New Recipe</button>
    <hr>
  </div>
  <div class="col-xs-12">
    <div class="list-group">
      <a href="#" class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let recipe of recipes">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{recipe.name}}</div>
          {{recipe.description}}
        </div>
        <img alt="{{recipe.name}}" width="100" height="100" [ngSrc]="recipe.imagePath">
      </a>
    </div>

    <div class="list-group">
      <a href="#" class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let recipe of externalRecipes">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{recipe.name}}</div>
          {{recipe.description}}
        </div>
      </a>
    </div>
  </div>
</div>
<app-recipe-item></app-recipe-item>
