<div class="row h-100 overflow-auto">
  <div class="col-12 text-center mb-auto px-0">
    <header class="header">
      <div class="row">
        <div class="col-auto"></div>
        <div class="col">
          <div class="logo-hris">
            <img width="20%" height="auto" src="../../../assets/img/hris-logo.png" alt="">
          </div>
        </div>
        <div class="col-auto"></div>
      </div>
    </header>
  </div>
  <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto align-self-center text-center py-4">
    <form class="needs-validation">
      <div class="form-group form-floating mb-3">
        <input type="text" class="form-control" value="" id="email" placeholder="Username">
        <label class="form-control-label" for="email">Username</label>
      </div>

      <div class="form-group form-floating mb-3">
        <input type="password" class="form-control " id="password" placeholder="Password">
        <label class="form-control-label" for="password">Password</label>
      </div>
      <p class="mb-3 text-center">
        <a routerLink="/forgetpassword" class="">
          Forgot your password?
        </a>
      </p>

      <button type="button" (click)="getFormvalue()" class="btn btn-lg btn-default w-100 mb-4 shadow">
        Sign in {{clickStatus}} {{getParentValue}}
      </button>
    </form>

  </div>
</div>
